/* */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
nav{
    background-color: #052c4d;
    color:#fff;
   
}
nav ul{
    list-style: none;
    line-height: 3;
}
nav ul li{
    float: left;
    margin-right: 20px;
}
.brandContainer{
    margin-left: 30px;
}
.brandName{
    font-size: 30px;
    line-height: 2; 
}
.sectionOne{
    min-height: 100vh;
    background: center/cover no-repeat url(" https://d33wubrfki0l68.cloudfront.net/0a619155c82b694e2267f3ed5c752919b707e33b/ef36f/static/svg_waves-3c1f0a785319462f6dce04d227eaf664.jpg");
    color: #fff;
    flex-direction: column;
    font-size: 24px;
}
#About{
    min-height: 100vh;
    padding: 20px;
}
.heading{
    font-size: 42px;
    text-align: center;
}
#About .heading{
    margin-top: 80px;
    margin-bottom: 80px;
}
.imageContainer,.infoContainer{
    width: 50%;
    text-align: center;
}
.imageContainer img{
    max-width: 400px;
    margin: 0 auto;
}
.infoContainer{
    text-align: left;
    padding: 0 30px;
}
.infoContainer h3{
    font-size: 34px;
    margin-bottom: 15px;
}
.infoContainer p{
    word-break: break-all;
    margin-bottom: 15px;
    font-size: 24px;
}
button{
    margin-top: 30px;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 7px 12px;
}
#Interests{
    min-height: 85vh;
    text-align: center;
    margin-top: 80px;
}
.interestContainer{
    margin-top: 50px;
}
.interests{
    list-style: none;
}
.interests li{
    max-width: 250px;
    margin: 0 auto;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}
ul.interests li:nth-child(even){
    background-color: #9BB0C1;
}
ul.interests li:nth-child(odd){
    background-color: #E1AFD1;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 30px;
}
footer p{
    font-size: 18px;
}

/* ####################################  MAKING THE SITE RESPONSIVE  ################################## */
@media screen and (max-width: 768px) {
    .imageContainer img{
        width: 100%;
    }   
    #About,#Interests,#Contact{
        height: fit-content;
    } 
    
}
@media screen and (max-width: 560px){
    .row{
        flex-direction: column;
    }
    .imageContainer{
        margin-bottom: 20px;
        width: 80%;
    }   
    .infoContainer{
        width: 80%;
    }
    
}
@media screen and (max-width: 387px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav a{
        font-size: 15px !important;
    }
    nav .brandContainer{
        width: 90%;
    }
    .imageContainer{
        width: 90%;
    }
    .infoContainer{
        padding: 0;
        width: 90%;
    }
    footer{
        flex-direction: column;
    }
}